
section#mainpageprogress {
    max-width: 1040px;
    color: #CCCCCC;
    padding: 2em 1em;
    margin: auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

#progression{
  display: flex;
  gap: 2em;
  width: 100%;
  flex-wrap: wrap;
  color: white;
  padding-top: 20px;
}
#progression h2{
  margin: 0;
  margin-block-end: 0.83em;
  position: absolute;
  top: 0;
  font-size: min(6vw, 4em);
  color: #58575e;
  font-variant: all-small-caps;
  width: min-content;
  line-height: 0.7em;
  z-index: 0;
}

#progression-fata, #progression-requiem, #progression-reinc{
  flex: 1;
  position: relative;
  padding-top: 0px;
  overflow-x: hidden;
  background-color : rgba(0,0,0,1);
  border-radius: 40px;
  z-index: -3;
}

#container_requiem_details{
	margin-top: 60%;
margin-bottom: 30px;
}

#container_fata_details{
	margin-top: 60%;

}

#container_reinc_details{
	margin-top: 60%;

}

#progressionimg-fata{
  position: absolute;
  padding-top: 70px;
  overflow: hidden;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0) 20%,
              rgba(0,0,0,1)), url('../ressources/FATA.jpg');
background-size: 100% auto;
width: 100%;
height: 50%;
top:0px;
    background-repeat: no-repeat;
background-position: center top;
z-index: -5;

}

#progressionimg-requiem{
  position: absolute;
  padding-top: 70px;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(0,0,0,0.2) 20%,
              rgba(0,0,0,1)), url('../ressources/FATA REQUIEM.jpg');
background-size: 100% auto;
width: 100%;
height: 50%;
top:0px;
    background-repeat: no-repeat;
background-position: center top;
z-index: -5;
}

#progressionimg-reinc {
  position: absolute;
  padding-top: 70px;
  overflow: hidden;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0) 20%,
              rgba(0,0,0,1)), url('../ressources/FATA REINCARNATION.jpg');
background-size: 100% auto;
width: 100%;
height: 50%;
top:0px;
    background-repeat: no-repeat;
background-position: center top;
z-index: -5;
}

#progression-le {
  margin-bottom: 2em;
}
.pb-wrapper{
  width: 80%;
  height: 0.4em;
  background-color: #2d2d2d;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 2px;
 z-index: 0; 
}
.pb-bar{
  height: 100%;
  background-color: #5e198e;
}
.pb-text-wrapper {
  display: flex;
  align-items: baseline;
  place-content: space-between;
  margin-block-start: 1.5em;
  margin-block-end: 0.4em;
}
.pb-text-element{
	color: white;
	right: 50px;
	margin: auto;
	}
	
.pb-text{
	display: block;
  float: right;
  padding: 0 16px;
  color: rgb(175 175 175);

}
 
.barre-prog:hover .pb-text {
  display: block;
  z-index: 2;
}
.flex-break{
  width: 100%;
}

.contprogress {
   margin-right:auto;
   left:5px;
   top: 5px;
  width: 70px;
  height: 70px;
  position: relative;
}

.progression-bottom-container {
  display: flex;
  place-content: space-evenly;
  width: 100%;
  flex-flow: wrap;
  gap: 10px;
}
.progression-bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.progression-bottom .container {
  margin: initial;
  float: left;
}

.circle {
  width: 100px;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}

.contprogress canvas {
  vertical-align: top;
}

.contprogress strong {
  position: absolute;
  top: 20px;
  left: 6px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  text-shadow: #9600ff 0px 0px 1px,   #9600ff 0px 0px 1px,   #9600ff 0px 0px 1px,
             #9600ff 0px 0px 1px,   #9600ff 0px 0px 1px,   #9600ff 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

.contprogress strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
}

.contprogress span {
  display: block;
  color: #aaa;
  margin-top: 12px;
}